extends: default
rules:
  truthy:
    allowed-values: ['true', 'false', 'on', 'off', 'yes', 'no']
  indentation:
    indent-sequences: consistent
  line-length:
    max: 160
    level: warning
  document-start: disable
  new-lines:
    type: unix
ignore: |
  .tox/
  .venv/
  **/.cache/
  **/templates/**        # fichiers Jinja2 souvent faux-positifs
