# inventory.ini.j2

[k8s_masters]
$VM_NAME ansible_host=$IP ansible_user=$USER ansible_ssh_private_key_file=$HOME/.ssh/$ID_SSH ansible_python_interpreter=${PYTHON_INTERPRETER:-/usr/bin/python3}


# tu peux aussi ajouter d'autres groupes si tu veux
#[workers]
#{{ VM_NAME_WORKER }} ansible_host={{ IP_WORKER }} ansible_user={{ USER }} \
#ansible_ssh_private_key_file={{ HOME }}/.ssh/{{ ID_SSH }} \
#ansible_python_interpreter={{ PYTHON_INTERPRETER | default('/usr/bin/python3') }}

