# ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
# mets une version complète (semver), ex via le set_fact que tu as déjà
kubernetesVersion: "{{ kubeadm_ver.stdout }}"
controlPlaneEndpoint: "{{ apiserver_endpoint | default(ansible_default_ipv4.address ~ ':6443') }}"
networking:
  podSubnet: "{{ pod_network_cidr }}"
  serviceSubnet: "{{ service_subnet | default('10.96.0.0/12') }}"
apiServer:
  certSANs:
    - "127.0.0.1"
    - "{{ ansible_default_ipv4.address }}"
    - "{{ inventory_hostname }}"
    - "{{ ansible_fqdn | default(inventory_hostname) }}"
  extraArgs:
    - name: etcd-servers
      value: "https://{{ ansible_default_ipv4.address }}:2379"
    # (facultatif, si tu tenais à l’avoir)
    # - name: authorization-mode
    #   value: "Node,RBAC"
---
# InitConfiguration
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ ansible_default_ipv4.address }}"
nodeRegistration:
  criSocket: unix:///var/run/containerd/containerd.sock
  kubeletExtraArgs:
    - name: cgroup-driver
      value: "systemd"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: "systemd"

